<div class="text-center">
  <h3 class="text-white">
    <% if game.won? %>
      <%= message['body']['congrats_start'] %>, 
      <%= game.configuration.player_name %>! 
      <%= message['body']['congrats_end'] %>
    <% else %>
      <%= message['body']['lost_start'] %>, 
      <%= game.configuration.player_name %>. 
      <%= message['body']['lost_end'] %>
    <% end %>
  </h3>
</div>

<%= render('_user_summary') %>

<hr class="mb-4">

<div class="text-center">
  <% if game.won? %>
    <img src="images/won.gif" class="img-fluid" alt="<%= message['body']['congrats_end'] %>">
  <% else %>
    <img src="images/lost.gif" class="img-fluid" alt="<%= message['body']['congrats_end'] %>">
  <% end %>
</div>

<hr class="mb-4">

<%= render('_button_home') %>
<%= render('_button_scores') %>
