<hr class="mb-4">

<div class="row">
  <div class="col button">
    <button type="button" class="btn btn-primary">
      <%= message['ui']['level'] %>: 
      <span class="badge badge-light">
        <%= message['form']['level'][game.configuration.level.to_s] %>
      </span>
    </button>
  </div>

  <div class="col text-center button">
    <button type="button" class="btn btn-primary">
      <%= message['ui']['score'] %>: 
      <span class="badge badge-light"><%= game.score %></span>
    </button>
  </div>

  <div class="col button">
    <button type="button" class="btn btn-primary float-right">
      <%= message['ui']['rating'] %>: 
      <span class="badge badge-light"><%= player_rate %></span>
    </button>
  </div>
</div>
