<!doctype html>
<html lang="<%= locale.lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= message['headers']['app_name'] %>">
    <meta name="author" content="<%= message['headers']['author'] %>">
    <title><%= message['headers']['app_name'] %></title>
  </head>

  <body class="text-center">
    Привет, <%= game.configuration.player_name %>
    <br>
    <br>
    <%= render('_guess_form.html.erb') %>
    <br><br>
    <%= render('_hints.html.erb') %>
    <br><br>
    <%= render('_motivation.html.erb') %>
    <%= game.attempts %>
  </body>

</html>