<!doctype html>
<html lang="<%= locale.lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= message['headers']['app_name'] %>">
    <meta name="author" content="<%= message['headers']['author'] %>">
    <title><%= message['headers']['app_name'] %></title>
  </head>

  <body class="text-center">
    Application uses Codebreaker2018 <%= Codebreaker::VERSION %> gem
    <br>
    <br>
    <%= message['interface']['lang'] %>
    <br>

    <br>
    <br>
    <form method="post" action="/change_lang">
      <select name="lang">
        <option value="en">English</option>
        <option value="ru">Russian</option>
      </select>
      <input type="submit" value="Change language">
    </form>
    <br>
    <br>
    <form method="post" action="/play">
      <input name="player_name" type="text">
      <select name="level">
        <option value="simple">Simple</option>
        <option value="middle">Middle</option>
        <option value="hard">Hard</option>
      </select>
      <input type="submit" value="Start the game">
    </form>
  </body>

</html>